<div class='loggedAdvise'>
    <h2>SUCESSO</h2>
    <h3>Usuário <%= user.name %> fez login com sucesso</h3>

    <form method="post">
        <button formaction="/logout">Sair</button>
    </form>
</div>

<style>

@media only screen and (max-width: 1920px) {
    .loggedAdvise{
        text-align: center;
    }

    .loggedAdvise button {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
    }
}

@media only screen and (max-width: 1080px) {
    .loggedAdvise{
        text-align: center;
    }

    .loggedAdvise button {
        width: 90%;
        height: 30px;
    }
}
</style>